<div>
    <header id="b_header" class="">
        
        <form action="https://www.bing.com/images/search" id="sb_form"><a class="b_logoArea"
                href="https://www.bing.com/?FORM=Z9FD1" h="ID=SERP,5043.1">
                <h1 class="b_logo" title="Back to Bing search" aria-label="Go to Bing homepage" data-bm="1"></h1>
            </a>
            <div class="b_searchboxForm" role="search" data-bm="2"><input class="b_searchbox" id="sb_form_q" name="q"
                    aria-autocomplete="both"
                    aria-label="Enter your search here - Search suggestions will show as you type" type="search"
                    value="" maxlength="1000" dir="" autocapitalize="off" autocorrect="off" autocomplete="off"
                    spellcheck="false" aria-controls="sw_as">
                <div id="sb_clt" class="sb_clrhov" data-sbtipx="Clear"><a id="sw_clx" href="javascript:void(0);"
                        tabindex="0" aria-label="Clear text" role="button">
                        <div class="sw_close"></div>
                    </a></div>
                <div id="sb_go_par" data-sbtip="Search the web"><input type="submit" class="b_searchboxSubmit"
                        id="sb_form_go" tabindex="0" name="go" value="Search"></div><input id="sa_qs" name="qs"
                    value="ds" type="hidden"><input type="hidden" value="QBILPG" name="form">
                <div id="sw_as"></div>
            </div>
        </form>
        <div id="id_h" role="complementary" aria-label="Account Rewards and Preferences" data-priority="2" data-bm="3">
            <a id="id_l" class="id_button" role="button" aria-haspopup="true" aria-controls="id_d" aria-expanded="false"
                data-clarity-mask="true" href="javascript:void(0);" h="ID=SERP,5044.1">
                <div> <span id="97A9F7_1_btn" class="cbtn" data-appns="SERP" data-k="5092.1"><input type="submit"
                            name="submit" id="id_a" value="Sign in"></span></div><span id="id_n" style="display:none"
                    aria-hidden="true"></span><img id="id_p" class="id_avatar sw_spd" style="display:none"
                    aria-hidden="true" alt="" aria-label="Profile Picture"
                    data-src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7"
                    data-alt="" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7"
                    data-bm="5">
            </a><span id="id_d" _iid="SERP.5052"></span><a id="id_sc" class="idp_ham nohphbtop"
                aria-label="Settings and quick links" aria-expanded="false" aria-controls="id_hbfo" aria-haspopup="true"
                role="button" tabindex="0" href="javascript:void(0);" h="ID=SERP,5050.1"></a><span id="id_hbfo"
                _iid="SERP.5051" class="slide_up nohpfo" aria-hidden="true" aria-labelledby="id_sc" role="menu"></span>
        </div>
        <nav class="b_scopebar" role="navigation" aria-label="Main menu" data-bm="0">
            <ul>
                <li class="" data-menuurl="" id="b-scopeListItem-web"><a target="" aria-current="false"
                        href="https://www.bing.com/search?q=&amp;FORM=HDRSC1" h="ID=SERP,5038.1">All</a></li>
                <li class="b_active" data-menuurl="" id="b-scopeListItem-images"><a target="" aria-current="page"
                        href="https://www.bing.com/images?FORM=HDRSC2" h="ID=SERP,5039.1">Images</a></li>
                <li class="" data-menuurl="" id="b-scopeListItem-video"><a target="" aria-current="false"
                        href="https://www.bing.com/videos/search?q=&amp;FORM=HDRSC3" h="ID=SERP,5040.1">Videos</a></li>
                <li class="" data-menuurl="" id="b-scopeListItem-news"><a target="" aria-current="false"
                        href="https://www.bing.com/news/search?q=&amp;FORM=HDRSC4" h="ID=SERP,5041.1">News</a></li>
            </ul>
        </nav>
    </header>
    <div id="vs_landing_page_header">
        <div id="vs_header"><a aria-label="Bing" href="https://www.bing.com/" h="ID=SERP,5031.1"><img
                    calleranswer="Multimedia" id="vs_bing_logo" role="presentation" alt="Bing" class="rms_img"
                    src="~/static/AdvanceSearch_files/EleoFndsBI9z-MrvT6OIcdaEhMs.svg" data-bm="6"></a>
            <div id="vs_header_title"><a href="https://www.bing.com/visualsearch" h="ID=SERP,5034.1">Visual Search</a>
            </div><img calleranswer="Multimedia" id="vs_burger_icon" tabindex="0" role="button" aria-label="Quick Links"
                class="rms_img" src="~/static/AdvanceSearch_files/f_IRqLDmGNl3apdmEhhxDHKAXn0.svg" data-bm="7">
        </div>
    </div>
    <qrcode-stream v-if="showCameraCheck" style="width: 100%;height: 100%;z-index: 9999;"></qrcode-stream>
    <div v-if="!showCameraCheck">
        <div id="vs_content" style="margin-top: 40px;">
        
            <div id="vsk_sbidialog" class="sbidialog" mode="normal" data-icwid="" data-idprefix="vsk" data-maxpx="360000"
                data-quality="0.7" data-priority="2"
                data-baseurl="/images/search?&amp;view=detailv2&amp;iss=%SBIPAGENAME%&amp;FORM=%FORMCODE%&amp;rtpu=%REDIRECTURL%&amp;sbisrc=%SOURCE%&amp;q=%IMAGEURL%&amp;idpbck=1"
                data-addparams="" data-fcode="SBIVSP">
                <div id="vsk_sbipane" class="sbipane">
                    <div id="vsk_sbicls" class="sbiclsbtn" tabindex="0" role="button" aria-label="Close"><img
                            calleranswer="MultimediaComponents" class="clsbtnimg rms_img" width="16" height="16" alt="Close"
                            src="~/static/AdvanceSearch_files/fdVZU4ttbw8NDRm6H3I5BW3_vCo.svg" data-bm="10"><img
                            calleranswer="MultimediaComponents" class="clsoptbtnimg rms_img" width="20" height="20"
                            alt="Close" src="~/static/AdvanceSearch_files/4L4QdyjTv0HYE2Ig2ol9eYoqxg8.svg" data-bm="11">
                    </div>
                    <div id="vsk_sbiopc" class="sbiopc">
                        <div id="vsk_sbiinfbtn" tabindex="0" role="tooltip" class="sbiinfbtn"
                            aria-label="The photos you provided may be used to improve Bing image processing services."><img
                                class="infbtnimg rms_img" width="16" height="16" alt="information"
                                src="~/static/AdvanceSearch_files/Fsa_OI0AplCnVoXGca8ALOo0S0s.svg" data-bm="12">
                            <div class="infbtntt">
                                <div class="infbd">The photos you provided may be used to improve Bing image processing
                                    services.</div>
                                <div class="sbiinflnks"><a id="vsk_sbiprilnk" class="sbiinflnk" target="_blank"
                                        data-link="http://go.microsoft.com/fwlink/?LinkId=521839"
                                        aria-label="Privacy Policy" href="https://www.bing.com/visualsearch#"
                                        h="ID=SERP,5093.1">Privacy Policy</a><span class="sbiinfsep">|</span><a
                                        id="vsk_sbisalnk" class="sbiinflnk" target="_blank"
                                        data-link="http://go.microsoft.com/fwlink/?LinkID=246338" aria-label="Terms of Use"
                                        href="https://www.bing.com/visualsearch#" h="ID=SERP,5094.1">Terms of Use</a></div>
                            </div>
                        </div>
                        <div class="sbitit" role="heading" aria-level="2" tabindex="0">
                            <vue-dropzone @vdropzone-success="UpdateStatus" ref="dropzone" id="drop1" :options="dropOptions"
                                style="margin: 0px !important;float: none !important;width: 100% !important;height: auto !important;"></vue-dropzone>
                        </div>
                        <div class="sbisubtitalt" role="heading" aria-level="2" tabindex="0">— OR —</div>
                        <div class="normalzone">
                            <div id="vsk_pastearea" class="pastearea" data-pasteurl="Paste image URL">
                                <div id="vsk_pastepn" tabindex="0" role="button" class="pstpn"
                                    aria-label="Paste image or URL"><img calleranswer="MultimediaComponents"
                                        class="psticon rms_img" width="16" height="16" alt="Paste image or URL"
                                        src="~/static/AdvanceSearch_files/KC_nX2_tPPyFvVw1RK20Yu1FyDk.svg"
                                        data-bm="13"><span>Paste image or URL</span></div>
                                <input id="vsk_imgpst" class="imgpst" type="text" placeholder="Paste image or URL"
                                    aria-label="Paste image or URL">
                            </div>
                            <a id="vsk_tkpct" tabindex="0" role="button" class="photopn" aria-label="Take photo"
                                href="/camera?form=SBIVSP&amp;rtpu=https%3a%2f%2fwww.bing.com%2fvisualsearch"
                                h="ID=SERP,5030.1"><img calleranswer="MultimediaComponents" class="tpicon rms_img"
                                    width="16" height="16" alt="Take photo"
                                    src="~/static/AdvanceSearch_files/NnFHhz2jL6yzChtIhaB5IIVKY5k.svg"
                                    data-bm="14"><span>Take photo</span></a>
                        </div>
                        <div id="vsk_dropzone" class="dropzone" data-sttop="" data-inputid="vsk_fileinput"
                            click-proxy-id="vsk_brtext" drop-eff-id="vsk_sbidialog">
                            <div class="dpnmpn">
                                
                                <div v-on:click="showCamera()" id="vsk_brtext" class="brtext" tabindex="0" role="button" aria-label="browse"><img
                                        calleranswer="MultimediaComponents" class="bricon rms_img" width="24" height="24"
                                        alt="Browse" src="~/static/AdvanceSearch_files/FCtGx9Uha_NnaFiePYuSf9Q2cZQ.svg"
                                        data-bm="15"><span>Scan QR</span></div>
                            </div><span class="dpintext">Drop an image here</span><input id="vsk_fileinput"
                                class="fileinput" type="file" accept="image/gif, image/jpeg, image/png, image/webp">
                            <div id="sbi_searchbox">
                                <img calleranswer="MultimediaComponents" tabindex="0" id="sbi_searchbox_icon" role="button"
                                    aria-label="Search input text" width="16" height="16" class="rms_img"
                                    src="~/static/AdvanceSearch_files/_09ilJ3JkecYOsGHsl5BoHK1g14.svg" data-bm="16"
                                    style="padding:0px !important">
                                <input id="sbi_searchbox_input" type="text" role="textbox" placeholder="Find an image"
                                    aria-label="Find an image" style="height: 35px !important;" @keydown.13="CallApi()">
                                <img calleranswer="MultimediaComponents" tabindex="0" id="sbi_searchbox_delete_icon"
                                    role="button" aria-label="Clear input text" width="16" height="16" class="rms_img"
                                    src="~/static/AdvanceSearch_files/_W3SO_126T8ANH2u4NY5g2DCzMI.svg" data-bm="17">
                            </div>
                        </div>
                    </div>
                    <div id="vsk_camcontent" class="camcontent"><video id="vsk_webvideo" class="webvideo" height="260"
                            width="420"></video>
                        <div class="cammsgp">
                            <div class="cammsg">To use Visual Search, enable the camera in this browser</div>
                        </div>
                        <div class="camoppn">
                            <div id="vsk_cambtn" class="cambtn" tabindex="0" role="button" aria-label="Take photo">
                                <div class="cambtncirclelarge"></div>
                                <div class="cambtncirclesmall"></div>
                            </div>
                        </div>
                    </div>
                </div><!-- use a fake form to store necessary inputs --><a id="vsk_sbi_dmlnk" class="sbi_dmlnk"
                    aria-hidden="true" href="https://www.bing.com/images" h="ID=SERP,5095.1"></a>
            </div>
        </div>
        <div id="skill_samples_scroll_control_layer" class="hidden">
            <button id="skill_samples_scroll_left" class="samples_scroll_button left" aria-label="Scroll to the left"><img
                    class="scroll_chevron left_icon rms_img" alt="Scroll to the left"
                    src="~/static/AdvanceSearch_files/vvp-0c_z-6jjpqD6va6SqvhvFk8.svg" data-bm="18">
                <img class="scroll_chevron left_hover_icon rms_img" alt="Scroll to the left"
                    src="~/static/AdvanceSearch_files/4ZBjHJGm3UJjlYunwFMQRe54bqY.svg" data-bm="19">
            </button>
            <button id="skill_samples_scroll_right" class="samples_scroll_button right" aria-label="Scroll to the right">
                <img class="scroll_chevron right_icon rms_img" alt="Scroll to the right"
                    src="~/static/AdvanceSearch_files/6NtjBllbX_ZSaUgu-evbTcKJKEY.svg" data-bm="20">
                <img class="scroll_chevron right_hover_icon rms_img" alt="Scroll to the right"
                    src="~/static/AdvanceSearch_files/mz7hB-Lu7lttRHvLYWA_XqBOg5Y.svg" data-bm="21">
            </button>
        </div>
        <ul id="skill_samples_online" class="skill_samples hidden"></ul>
        <div id="vs_bottom">
            <div id="vs_samples" class="vs_sample_img_shadow">
                <Result v-if="lstProduct" v-for="product in lstProduct" :key="product.Image" v-bind:Name="product.phoneName"
                    v-bind:OS="product.os" v-bind:Image="product.image" v-bind:Description="product.description" />
                <SearchResult v-if="lstVisualSearchProduct" v-for="result in lstVisualSearchProduct" :key="result.image" v-bind:Name="result.name"
                v-bind:Image="result.image" v-bind:Description="result.description"/>
            </div>
        </div>
        <div id="vs_banner_upsell">
            <div id="skill_upsell_section" class="upsell_section">
                <div id="skill_upsell_left"><img id="upsell_img" role="presentation" alt="Do more with images"
                        class="rms_img" src="~/static/AdvanceSearch_files/SX71Np9eZcFKIbZnv8dMZjrslL4.png" data-bm="40">
                </div>
                <div id="skill_upsell_right">
                    <h2 class="upsell_title" role="heading" aria-level="2" tabindex="0">Do more with images</h2>
                    <div class="upsell_sub_title" role="heading" aria-level="3" tabindex="0">Check out our library of
                        specialized skills to help you shop, identify landmarks and animals, or just have fun</div><a
                        class="explore_skills_button_link" aria-label="Explore skills"
                        href="https://www.bing.com/visualsearch/skills" h="ID=SERP,5106.1">
                        <div class="upsell_button" id="explore_skills_button">Explore skills</div>
                    </a>
                </div>
            </div>
            <div id="general_upsell_section" class="upsell_section">
                <h2 class="upsell_title" role="heading" aria-level="2" tabindex="0">Where to find Visual Search</h2>
                <div class="upsell_sub_title" role="heading" aria-level="3" tabindex="0">Look for the<img
                        id="upsell_card_camera_icon" width="24" height="20" alt="Bing Camera" class="rms_img"
                        src="~/static/AdvanceSearch_files/KyIWBhO3Q6WpWH-kwaDnzDpUx8o.svg" data-bm="41">icon in the Bing
                    search
                    box, in our apps, or on a partner site</div>
                <ul id="upsell_sub_section_container" role="tablist">
                    <li role="tab" tabindex="0" aria-selected="true" class="upsell_sub_section_title highlight_section">BING
                    </li>
                    <li role="tab" tabindex="0" aria-selected="false" class="upsell_sub_section_title">APPS</li>
                    <li role="tab" tabindex="0" aria-selected="false" class="upsell_sub_section_title">PARTNERS</li>
                </ul>
                <ul class="upsell_list highlight_list" id="upsell_list_bing">
                    <li class="upsell_card img_card"><a class="upsell_card_link" target="_blank"
                            aria-label="Visual Search on Desktop" href="https://wwww.bing.com/images"
                            h="ID=SERP,5097.1"><img class="upsell_bing desktop rms_img" role="presentation"
                                alt="Visual Search on Desktop"
                                src="~/static/AdvanceSearch_files/ei-DaQlArfTFNaGH_kyPax997WM.jpg" data-bm="42"></a></li>
                    <li class="upsell_card img_card"><a class="upsell_card_link" target="_blank"
                            aria-label="Visual Search on Mobile" href="https://wwww.bing.com/camera" h="ID=SERP,5098.1"><img
                                class="upsell_bing mobile rms_img" role="presentation" alt="Visual Search on Mobile"
                                src="~/static/AdvanceSearch_files/QDhc9Efa-_YAIk8S--GmY9Gt7hs.jpg" data-bm="43"></a></li>
                </ul>
                <ul class="upsell_list" id="upsell_list_apps">
                    <li class="upsell_card"><img class="upsell_card_logo hvoff rms_img" width="60" height="60"
                            role="presentation" src="~/static/AdvanceSearch_files/r3pgjVj2Cs19ZUHOYbEoNTlAN9g.png"
                            data-bm="44"><img class="upsell_card_logo hvon rms_img" width="60" height="60"
                            role="presentation" src="~/static/AdvanceSearch_files/UNHhC1dlXjq2GZHuWPfl75QekVY.png"
                            data-bm="45">
                        <div class="upsell_card_title">Bing iOS/Android App</div>
                        <div class="upsell_card_sub_title">Tap<img class="upsell_card_inicon hvoff rms_img" width="20"
                                height="16" role="presentation"
                                src="~/static/AdvanceSearch_files/KyIWBhO3Q6WpWH-kwaDnzDpUx8o.svg" data-bm="46"><img
                                class="upsell_card_inicon hvon rms_img" width="20" height="16" role="presentation"
                                src="~/static/AdvanceSearch_files/O_dd-PYbd51sKBaQorUfKg14otE.svg" data-bm="47">to shop for
                            similar looks and more</div>
                        <div class="upsell_button"><a class="upsell_button_link" target="_blank" aria-label="Download"
                                href="https://www.microsoft.com/en-us/bing/search-app-desktop"
                                h="ID=SERP,5096.1">Download</a></div>
                    </li>
                    <li class="upsell_card"><img class="upsell_card_logo rms_img" width="60" height="60" role="presentation"
                            src="~/static/AdvanceSearch_files/F0aJOT1YW5VL-zTzSa42-9Da9vE.png" data-bm="48">
                        <div class="upsell_card_title">Microsoft Edge mobile</div>
                        <div class="upsell_card_sub_title">Visual Search in a fast and safe browser</div>
                        <div class="upsell_button"><a class="upsell_button_link" target="_blank" aria-label="Download"
                                href="https://www.microsoft.com/en-us/windows/microsoft-edge-mobile"
                                h="ID=SERP,5099.1">Download</a></div>
                    </li>
                    <li class="upsell_card"><img class="upsell_card_logo rms_img" width="60" height="60" role="presentation"
                            src="~/static/AdvanceSearch_files/F0aJOT1YW5VL-zTzSa42-9Da9vE.png" data-bm="49">
                        <div class="upsell_card_title">Microsoft Edge desktop</div>
                        <div class="upsell_card_sub_title">Just right-click on any image to search Bing</div>
                        <div class="upsell_button"><a class="upsell_button_link" target="_blank" aria-label="&gt;Try it"
                                href="https://www.microsoft.com/en-us/windows/microsoft-edge" h="ID=SERP,5100.1">Try it</a>
                        </div>
                    </li>
                    <li class="upsell_card"><img class="upsell_card_logo rms_img" width="60" height="60" role="presentation"
                            src="~/static/AdvanceSearch_files/S6fu8XMzRF6aftfjCghhSJafJsc.png" data-bm="50">
                        <div class="upsell_card_title">Microsoft Launcher</div>
                        <div class="upsell_card_sub_title">Get fast access to Visual Search and more</div>
                        <div class="upsell_button"><a class="upsell_button_link" target="_blank" aria-label="Learn more"
                                href="https://play.google.com/store/apps/details?id=com.microsoft.launcher"
                                h="ID=SERP,5103.1">Learn more</a></div>
                    </li>
                    <li class="upsell_card"><img class="upsell_card_logo rms_img" width="60" height="60" role="presentation"
                            src="~/static/AdvanceSearch_files/I4uk9fE_KOUi65lsBiVNhYkjhBY.png" data-bm="51">
                        <div class="upsell_card_title">Microsoft Photos</div>
                        <div class="upsell_card_sub_title">Just click on<img class="upsell_card_inicon hvoff rms_img"
                                width="20" height="16" role="presentation"
                                src="~/static/AdvanceSearch_files/KyIWBhO3Q6WpWH-kwaDnzDpUx8o.svg" data-bm="52"><img
                                class="upsell_card_inicon hvon rms_img" width="20" height="16" role="presentation"
                                src="~/static/AdvanceSearch_files/O_dd-PYbd51sKBaQorUfKg14otE.svg" data-bm="53">to start a
                            Visual
                            Search</div>
                        <div class="upsell_button"><a class="upsell_button_link" target="_blank" aria-label="Download"
                                href="https://www.microsoft.com/en-us/p/microsoft-photos/9wzdncrfjbh4"
                                h="ID=SERP,5104.1">Download</a></div>
                    </li>
                    <li class="upsell_card"><img class="upsell_card_logo rms_img" width="60" height="60" role="presentation"
                            src="~/static/AdvanceSearch_files/KlFKKvvl5Tf2tL7Eo8R16KzNFsI.png" data-bm="54">
                        <div class="upsell_card_title">Windows Search Box</div>
                        <div class="upsell_card_sub_title">Visual Search available in Windows 10</div>
                        <div class="upsell_button"><a class="upsell_button_link" target="_blank" aria-label="How it works"
                                href="https://www.bing.com/sa/sbifre/Couch_Revised_v2.mp4" h="ID=SERP,5105.1">How it
                                works</a></div>
                    </li>
                </ul>
                <ul class="upsell_list" id="upsell_list_partners">
                    <li class="upsell_card"><img class="upsell_card_logo rms_img" width="60" height="60" role="presentation"
                            src="~/static/AdvanceSearch_files/wpWvGPafTH-XNDXtxdweiznpXwg.png" data-bm="55">
                        <div class="upsell_card_title">Huawei</div>
                        <div class="upsell_card_sub_title">Huawei's HiVision powered by Bing Visual Search</div>
                        <div class="upsell_button"><a class="upsell_button_link" target="_blank" aria-label="Learn more"
                                href="https://consumer.huawei.com/uk/emui-9" h="ID=SERP,5101.1">Learn more</a></div>
                    </li>
                    <li class="upsell_card"><img class="upsell_card_logo rms_img" width="60" height="60" role="presentation"
                            src="~/static/AdvanceSearch_files/pbhdHtk2M1NAeNeRRRlT3SDGf_8.png" data-bm="56">
                        <div class="upsell_card_title">Samsung</div>
                        <div class="upsell_card_sub_title">Samsung's Bixby Vision, now with Bing Visual Search</div>
                        <div class="upsell_button"><a class="upsell_button_link" target="_blank" aria-label="Learn more"
                                href="https://www.samsung.com/global/galaxy/apps/bixby/vision" h="ID=SERP,5102.1">Learn
                                more</a></div>
                    </li>
                </ul>
            </div>
        </div>
        <div id="vs_footer">
            <div>
                <div id="vs_footer_bottom">
                    <div id="vs_footer_columns">
                        <div class="vs_footer_column">
                            <div class="vs_footer_column_list">
                                <div class="title" role="heading" aria-level="2" tabindex="0">ABOUT</div>
                                <div><a href="https://privacy.microsoft.com/en-us/privacystatement"
                                        title="Privacy Policy">Privacy Policy</a></div>
                                <div><a href="https://www.microsoft.com/en-us/servicesagreement"
                                        title="Microsoft Services Agreement">Microsoft Services Agreement</a></div>
                            </div>
                        </div>
                        <div class="vs_footer_column">
                            <div class="vs_footer_column_list">
                                <div class="title" role="heading" aria-level="2" tabindex="0">DEVELOP</div>
                                <div><a href="https://www.bingvisualsearch.com/develop" title="Build skills">Build
                                        skills</a></div>
                                <div><a href="https://microsoft.com/bing/commerce" title="Bing Custom Visual Search">Bing
                                        Custom Visual Search</a></div>
                            </div>
                        </div>
                        <div class="vs_footer_column">
                            <div class="vs_footer_column_list">
                                <div class="title" role="heading" aria-level="2" tabindex="0">SUPPORT</div>
                                <div><a id="vs_contact" tabindex="0" title="Visual Search">Visual Search</a></div>
                            </div>
                        </div>
                    </div>
                    <div id="vs_footer_copyright">© 2019 Bing Visual Search and/or Microsoft</div>
                </div>
            </div>
        </div>
        <footer id="b_footer" class="b_footer" role="contentinfo" aria-label="Footer" data-bm="4">
        </footer>
    </div>
</div>